<md-dialog>
  <form ng-cloak>
    <md-dialog-content>
      <div class="md-dialog-content">
        <p class="title_newblog">New Portfolio</p>

       <md-input-container class="title-input">
          <label>Title</label>
          <input type="string" ng-model="title">
        </md-input-container>

        <textarea ui-tinymce="tinymceOptions" ng-model="tinymceModel"></textarea>

        <div class="upload-image-div">
          <h6 class="admin-panel-slajder-h6">Upload Image</h6>
          <lf-ng-md-file-input lf-files='files' multiple> </lf-ng-md-file-input>
        </div>

      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <div class="buttons_position_p">
        <md-button md-no-ink class="md-raised md-primary md-button" ng-click="addPortfolio()">Save</md-button>
        <md-button md-no-ink class="md-raised md-warn md-button" ng-click="close()">Close</md-button>
      </div>
    </md-dialog-actions>

  </form>
</md-dialog>
