<md-dialog class="delete-blog-btn">
  <form ng-cloak>
    <md-dialog-content>
      <div class="md-dialog-content">
        <p>Are you sure you want to delete this portfolio?</p>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <div class="container container_custom">
        <md-button md-no-ink class="md-raised md-primary md-button" ng-click="deletePortfolio()">Yes</md-button>
        <md-button md-no-ink class="md-raised md-warn md-button" ng-click="close()">No</md-button>
      </div>
    </md-dialog-actions>

  </form>
</md-dialog>
