<md-dialog>
  <form ng-cloak>
    <!-- <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Mango (Fruit)</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar> -->

    <md-dialog-content>
      <div class="md-dialog-content">
        <p class="title_newblog">Edit Portfolio</p>

       <md-input-container class="title-input">
          <label>Title</label>
          <input type="string" ng-model="title">
        </md-input-container>
        <textarea ui-tinymce="tinymceOptions" ng-model="tinymceModel"></textarea>
        <div class="upload-image-div">
          <h6 class="admin-panel-slajder-h6">Upload Image</h6>
          <lf-ng-md-file-input lf-files='files' multiple> </lf-ng-md-file-input>
        </div>

      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <div class="buttons_position">
        <md-button md-no-ink class="md-raised md-primary md-button" ng-click="editPortfolio()">Save</md-button>
        <md-button md-no-ink class="md-raised md-warn md-button" ng-click="close()">Close</md-button>
      </div>
    </md-dialog-actions>

  </form>
</md-dialog>
