<md-dialog>
  <form ng-cloak>
    <md-dialog-content>
      <div class="md-dialog-content">
        <p class="title_newblog">Reserve day</p>

       <md-input-container class="title-input">
          <label>Title</label>
          <input type="string" ng-model="title">
        </md-input-container>

    </md-dialog-content>
    <textarea ui-tinymce="tinymceOptions" ng-model="tinymceModel"></textarea>
    <md-dialog-actions layout="row" class="close-and-save-btn">
      <div>
        <md-button md-no-ink class="md-raised md-primary md-button" ng-click="addReserve()">Save</md-button>
        <md-button md-no-ink class="md-raised md-warn md-button" ng-click="close()">Close</md-button>
      </div>
    </md-dialog-actions>

  </form>
</md-dialog>
