@charset "UTF-8";
@import url(animate.css);
@import url(//fonts.googleapis.com/css?family=Dancing+Script:700|Raleway:400,300,500,600);
/*@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);*/
@import url(../bower_components/components-font-awesome/css/font-awesome.min.css);
/*========================================================
                      Main Styles
=========================================================*/
body {
  color: #585858;
  font: 400 14px/24px "Raleway", sans-serif;
  -webkit-text-size-adjust: none; }

img {
  max-width: 100%;
  height: auto; }

h3 a:hover, h4 a:hover, h6 a:hover {
  color: #8e44ad; }

h2 a:hover, h5 a:hover {
  color: #585858; }

h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 64px;
  line-height: 50px;
  font-weight: 700; }

h2 {
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  font-size: 60px;
  line-height: 74px;
  margin-bottom: 40px;
  color: #8e44ad; }

h3 {
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 500; }
  h3 span {
    display: block; }
  h3:after {
    content: '';
    display: inline-block;
    width: 45px;
    height: 2px;
    background: #585858;
    vertical-align: top;
    margin-top: 15px; }
  h3.mod:after {
    display: none; }

h4 {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 600; }
  h4.mod {
    font-weight: 400;
    vertical-align: baseline;
    padding-top: 50px; }
    @media (max-width: 1199px) and (min-width: 768px) {
      h4.mod {
        text-align: right; } }
    h4.mod .lg {
      display: block;
      font-size: 30px;
      line-height: 36px;
      font-weight: 600;
      padding-top: 7px; }
    h4.mod .fa {
      font-size: 30px;
      line-height: 30px;
      margin-right: 10px;
      vertical-align: baseline; }
  h4.mod2 span {
    display: block; }
  h4.mod2:after {
    content: '';
    display: inline-block;
    width: 45px;
    height: 2px;
    background: #8e44ad;
    margin-top: 15px; }

h5 {
  font-size: 18px;
  line-height: 30px;
  color: #b2b0b3;
  font-weight: 600; }
  h5 span {
    display: block; }
  h5:after {
    content: '';
    display: inline-block;
    width: 45px;
    height: 2px;
    background: #8e44ad;
    margin-top: 15px; }
  h5.mod:after {
    display: none; }
  h5.mod + * {
    margin-top: 10px; }

h6 {
  font-weight: 600; }

p a:hover, .marked-list a:hover, .list a:hover, .addr a:hover {
  text-decoration: none; }
p .fa, .marked-list .fa, .list .fa, .addr .fa {
  text-decoration: none; }

time {
  display: block; }

a {
  font: inherit;
  color: inherit;
  text-decoration: none;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  a:focus {
    outline: none; }
  a:active {
    background-color: transparent; }

a[href^="tel:"],
a[href^="callto:"] {
  color: inherit;
  text-decoration: none; }

strong {
  font-weight: 700; }

.fa {
  line-height: inherit; }

[class*='fa-']:before {
  font-weight: 400;
  font-family: "FontAwesome"; }

.page {
  overflow: hidden;
  min-height: 500px; }
  .lt-ie9 .page {
    min-width: 1200px; }

.container {
  position: relative; }

/*=======================================================
                       Main Layout
=========================================================*/
h2 + * {
  margin-top: 15px; }

h3 + * {
  margin-top: 40px; }

* + .btn {
  margin-top: 40px; }

* + .btn2 {
  margin-top: 20px; }

.row + .row {
  margin-top: 35px; }

* + h4 {
  margin-top: 30px; }

h4 + * {
  margin-top: 18px; }

* + h5 {
  margin-top: 10px; }

h5 + * {
  margin-top: 18px; }

h3 + h5 {
  margin-top: 5px; }
  h3 + h5 + * {
    margin-top: 30px; }

/*=======================================================
                        Components
=========================================================*/
/*==================     Brand     ======================*/
.brand {
  display: inline-block;
  width: 247px;
  height: 247px;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  background: #8e44ad; }
  .brand_name {
    position: relative;
    margin-top: 82px; }
    .brand_name:before {
      content: url(../images/logo-img.png);
      position: absolute;
      top: -22px;
      left: 50%;
      margin-left: -62px;
      line-height: 0; }
  .brand_slogan {
    font-size: 16px;
    line-height: 32px; }
  .brand:after {
    display: block; }
  .brand:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 8px;
    border-radius: 50%;
    border: 2px solid #fff; }

/*==================  Backgrounds  ======================*/
.bg-primary {
  background: #8e44ad; }
  .bg-primary .btn2:hover {
    color: #8e44ad; }

.bg-default {
  background: #696868; }
  .bg-default .btn2:hover {
    color: #585858; }

.bg-primary, .bg-default {
  position: relative;
  color: #fff; }
  .bg-primary h3:after, .bg-primary h5:after, .bg-default h3:after, .bg-default h5:after {
    background: #fff; }

.bg-h {
  position: relative; }
  .bg-h:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    background: #9a66b1; }
    @media (max-width: 767px) {
      .bg-h:before {
        display: none; } }

.full {
  position: relative; }
  .full_left, .full_right {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%; }
  .full_right {
    right: 0; }
  .full_left {
    left: 0; }
  .full-inner {
    position: relative;
    padding: 35px 0 40px; }
  .full .bg-primary:before, .full .bg-default:before {
    content: '';
    position: absolute;
    display: block;
    width: 2000px;
    height: 100%;
    top: 0; }
  .full .bg-default:before {
    background: #696868;
    left: -15px; }
  .full .bg-default .full-inner {
    padding-left: 20px; }
  .full .bg-primary:before {
    background: #8e44ad;
    right: -15px; }
  @media (max-width: 1199px) and (min-width: 768px) {
    .full .bg-primary:before {
      right: -10px; }
    .full .bg-default:before {
      left: -10px; } }
  @media (max-width: 767px) {
    .full_left, .full_right {
      display: none; }
    .full .bg-primary {
      margin: 0; }
      .full .bg-primary:before {
        right: -500px; }
    .full .bg-default {
      margin: 0; }
      .full .bg-default:before {
        left: -500px; } }

.bg1 {
  background: no-repeat url(../images/bg1.jpg) top center;
  background-size: cover; }

.bg2 {
  background: no-repeat url(../images/bg2.jpg) top center;
  background-size: cover; }

.bg3 {
  background: no-repeat url(../images/bg3.jpg) top center;
  background-size: cover; }

.bg4 {
  background: no-repeat url(../images/bg4.jpg) top center;
  background-size: cover; }

.bg5 {
  background: no-repeat url(../images/bg5.jpg) top center;
  background-size: cover; }

.bg6 {
  background: no-repeat url(../images/bg6.jpg) top center;
  background-size: cover; }

.mt2 {
  margin-top: 490px; }

/*==================    Buttons    ======================*/
.btn, .btn2 {
  display: inline-block;
  border: 2px solid #9761af;
  padding: 8px 18px;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px; }
  .btn:after, .btn2:after {
    content: '\f101';
    font-family: 'FontAwesome';
    padding-left: 10px; }

.btn {
  color: #8e44ad; }
  .btn:hover {
    background: #8e44ad;
    color: #fff; }
  .btn:active {
    background: #5eb1af; }

.btn2 {
  color: #fff;
  border-color: #fff; }
  .btn2:hover {
    background: #fff;
    color: #585858; }
  .btn2:active {
    background: #f2f2f2; }

/*==================      Box      ======================*/
.box {
  position: relative;
  padding-bottom: 35px;
  background: no-repeat url(../images/bottom-line.png) bottom center;
  background-size: contain;
  text-align: center; }

.box2 {
  padding: 30px;
  text-align: center; }
  .box2_cnt {
    background: rgba(255, 255, 255, 0.9);
    padding: 40px 30px 25px; }
    .box2_cnt * + .btn {
      margin-top: 20px; }
  .box2_cnt2 {
    background: rgba(255, 255, 255, 0.9);
    padding: 60px 60px 70px; }
    .box2_cnt2 h3 {
      font-weight: 600; }
      .box2_cnt2 h3:after {
        background: #8e44ad;
        margin-top: 30px; }
      .box2_cnt2 h3 + * {
        margin-top: 20px; }
  .box2_bg1 {
    background: no-repeat url(../images/page-1_img08.jpg) center center;
    background-size: cover; }
  .box2_bg2 {
    background: no-repeat url(../images/page-1_img09.jpg) center center;
    background-size: cover; }
  .box2_bg3 {
    background: no-repeat url(../images/page-1_img10.jpg) center center;
    background-size: cover; }
  .box2_bg4 {
    background: no-repeat url(../images/page-3_img10.jpg) center center;
    background-size: cover; }
  @media (max-width: 979px) and (min-width: 768px) {
    .box2 {
      padding: 15px; }
      .box2_cnt {
        padding-left: 20px;
        padding-right: 20px; } }
  @media (max-width: 479px) {
    .box2 {
      padding: 15px; }
      .box2_cnt {
        padding-left: 20px;
        padding-right: 20px; }
      .box2_cnt2 {
        padding-left: 20px;
        padding-right: 20px; } }

.box3:before, .box3:after {
  display: table;
  content: "";
  line-height: 0; }
.box3:after {
  clear: both; }
.box3_aside {
  float: left;
  margin-right: 25px; }
  @media (max-width: 979px) {
    .box3_aside {
      float: none;
      margin: 0 0 20px; } }
  .box3_aside img {
    margin-top: 5px; }
.box3_cnt__no-flow {
  overflow: hidden; }
.box3 + .box3 {
  margin-top: 45px; }
.box3 * + .btn {
  margin-top: 25px; }

.box4 {
  position: relative; }
  .box4 img {
    width: 100%; }
  .box4_cnt {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 30px 30px;
    background: rgba(255, 255, 255, 0.9);
    padding: 30px 5px 20px; }
    @media (max-width: 1199px) {
      .box4_cnt {
        padding: 10px 5px;
        margin: 0 10px 10px; } }
  .box4 h5:after {
    display: none; }
  .box4 * + h5 {
    margin-top: 0; }

/*==================      Lists      ======================*/
.social-list li {
  display: inline-block; }
  .social-list li a {
    display: block;
    width: 60px;
    height: 60px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    line-height: 60px;
    background: #8e44ad;
    border-radius: 50%; }
    .social-list li a:hover {
      background: #585858; }
    @media (max-width: 479px) {
      .social-list li a {
        width: 40px;
        height: 40px;
        line-height: 40px; } }
  .social-list li + li {
    margin-left: 7px; }
* + .social-list {
  margin-top: 20px; }

.marked-list li {
  position: relative;
  padding-left: 15px;
  text-transform: uppercase; }
  .marked-list li:before {
    content: '\f101';
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'FontAwesome';
    font-size: 14px;
    line-height: 24px; }
  .marked-list li + li {
    margin-top: 14px; }
  @media (max-width: 979px) and (min-width: 768px) {
    .marked-list li {
      font-size: 12px;
      letter-spacing: -.5px; } }

.marked-list2 li {
  position: relative;
  padding-left: 18px; }
  .marked-list2 li:before {
    content: '';
    position: absolute;
    top: 7px;
    left: 0;
    width: 8px;
    height: 8px;
    background: #8e44ad;
    border-radius: 50%; }
  .marked-list2 li + li {
    margin-top: 18px; }

.list1:before, .list1:after {
  display: table;
  content: "";
  line-height: 0; }
.list1:after {
  clear: both; }
.list1 li {
  float: left;
  padding: 42px 1% 53px;
  width: 23%;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px; }
  .list1 li span {
    display: block;
    font-size: 50px;
    line-height: 60px;
    padding-bottom: 5px; }
  .list1 li:first-child {
    background: #8e44ad; }
  .list1 li:nth-child(2) {
    background: #934db1; }
  .list1 li:nth-child(3) {
    background: #9555b1; }
  .list1 li:nth-child(4) {
    background: #9761af ; }
  @media (max-width: 767px) {
    .list1 li {
      float: none;
      width: 98%; } }

/*========================   Menu   ==========================*/
.sf-menu {
  display: inline-block; }
  .sf-menu:before, .sf-menu:after {
    display: table;
    content: "";
    line-height: 0; }
  .sf-menu:after {
    clear: both; }
  .sf-menu > li {
    position: relative;
    float: left; }
    .sf-menu > li + li {
      margin-left: 4px; }
      @media (max-width: 979px) and (min-width: 768px) {
        .sf-menu > li + li {
          margin-left: 15px; } }
  .sf-menu a {
    display: block;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase; }

.sf-menu > li > a {
  color: #9e9e9e;
  padding: 0 16px;
  font-weight: 800; }
  @media (max-width: 979px) and (min-width: 768px) {
    .sf-menu > li > a {
      padding: 0; } }
  .sf-menu > li > a:after {
    content: '';
    background: #8e44ad;
    width: 0;
    height: 2px;
    display: inline-block;
    position: absolute;
    bottom: -5px;
    left: 50%;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
.sf-menu > li.sfHover > a:after, .sf-menu > li > a:hover:after, .sf-menu > li.active > a:after {
  width: 85%; }

.sf-menu ul {
  display: none;
  position: absolute;
  top: 100%;
  width: 250px;
  margin-top: 43px;
  padding: 35px 25px 30px;
  background: #8e44ad;
  z-index: 2;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.sf-menu ul > li + li {
  margin-top: 13px; }
.sf-menu ul > li > a {
  color: #FFF; }
.sf-menu ul > li.sfHover > a, .sf-menu ul > li > a:hover {
  color: #585858; }

.sf-menu ul ul {
  position: static;
  top: 100%;
  width: auto;
  margin-top: 0;
  margin-left: 20px;
  padding: 10px 0 0;
  z-index: 4; }

.sf-menu ul ul > li > a {
  color: #FFF; }
.sf-menu ul ul > li.sfHover > a, .sf-menu ul ul > li > a:hover {
  color: #585858; }

.sf-menu > li > .sf-with-ul {
  position: relative; }
  .sf-menu > li > .sf-with-ul:before {
    position: absolute;
    left: 50%;
    top: 62%;
    margin-left: -6px;
    content: "";
    font: 400 12px/12px "FontAwesome"; }

@media (max-width: 767px) {
  .sf-menu {
    display: none; } }
/*==================   RD Mobile Menu    =====================*/
.rd-mobilemenu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9999999;
  text-align: left;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease; }
  .rd-mobilemenu.active {
    right: 0; }

.rd-mobilemenu_ul {
  position: fixed;
  top: -56px;
  left: 0;
  bottom: -56px;
  width: 240px;
  padding: 132px 0 76px;
  color: #666;
  background: #FFF;
  font-size: 14px;
  line-height: 20px;
  overflow: auto;
  -webkit-box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
  -moz-transform: translateX(-240px);
  -ms-transform: translateX(-240px);
  -o-transform: translateX(-240px);
  -webkit-transform: translateX(-240px);
  transform: translateX(-240px);
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -moz-transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1); }
  .rd-mobilemenu.active .rd-mobilemenu_ul {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  .rd-mobilemenu_ul a {
    display: block;
    padding: 14px 25px 16px; }
    .rd-mobilemenu_ul a.active {
      background: #f5f5f5;
      color: #2d2d2d; }
    .rd-mobilemenu_ul a:hover {
      background: #8e44ad;
      color: #FFF; }
    .rd-mobilemenu_ul a .rd-submenu-toggle {
      position: absolute;
      top: 50%;
      right: 11px;
      margin-top: -17.5px;
      width: 32px;
      height: 32px;
      font: 400 10px "FontAwesome";
      line-height: 32px;
      text-align: center;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      -moz-transition: 0.5s all ease;
      -o-transition: 0.5s all ease;
      -webkit-transition: 0.5s all ease;
      transition: 0.5s all ease;
      z-index: 1;
      background: rgba(0, 0, 0, 0.1); }
      .rd-mobilemenu_ul a .rd-submenu-toggle:after {
        content: '\f078'; }
      .rd-mobilemenu_ul a .rd-submenu-toggle:hover {
        background: #FFF;
        color: #666; }
    .rd-mobilemenu_ul a.rd-with-ul {
      position: relative; }
      .rd-mobilemenu_ul a.rd-with-ul.active .rd-submenu-toggle {
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg); }
  .rd-mobilemenu_ul ul a {
    padding-left: 40px; }
  .rd-mobilemenu_ul ul ul a {
    padding-left: 60px; }
  .rd-mobilemenu_ul:after {
    content: '';
    display: block;
    height: 20px; }

.rd-mobilepanel {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
  background: #FFF;
  color: #000;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  z-index: 99999991; }

.rd-mobilepanel_title {
  position: fixed;
  top: 4px;
  left: 56px;
  right: 56px;
  color: #000;
  font-size: 24px;
  line-height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap; }

.rd-mobilepanel_toggle {
  position: fixed;
  top: 4px;
  left: 8px;
  width: 48px;
  height: 48px; }
  .rd-mobilepanel_toggle span {
    position: relative;
    display: block;
    margin: auto;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .rd-mobilepanel_toggle span:after, .rd-mobilepanel_toggle span:before {
      content: "";
      position: absolute;
      left: 0;
      top: -8px;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .rd-mobilepanel_toggle span:after {
      top: 8px; }
    .rd-mobilepanel_toggle span:after, .rd-mobilepanel_toggle span:before, .rd-mobilepanel_toggle span {
      width: 24px;
      height: 4px;
      background-color: #000;
      backface-visibility: hidden;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px; }
  .rd-mobilepanel_toggle span {
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
    .rd-mobilepanel_toggle span:before, .rd-mobilepanel_toggle span:after {
      -moz-transform-origin: 1.71429px center;
      -ms-transform-origin: 1.71429px center;
      -o-transform-origin: 1.71429px center;
      -webkit-transform-origin: 1.71429px center;
      transform-origin: 1.71429px center;
      -moz-transform-origin: 1.71429px center;
      -ms-transform-origin: 1.71429px center;
      -o-transform-origin: 1.71429px center;
      -webkit-transform-origin: 1.71429px center;
      transform-origin: 1.71429px center; }
  .rd-mobilepanel_toggle.active span {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); }
    .rd-mobilepanel_toggle.active span:before, .rd-mobilepanel_toggle.active span:after {
      top: 0;
      width: 15px; }
    .rd-mobilepanel_toggle.active span:before {
      -webkit-transform: rotate3d(0, 0, 1, -40deg);
      transform: rotate3d(0, 0, 1, -40deg); }
    .rd-mobilepanel_toggle.active span:after {
      -webkit-transform: rotate3d(0, 0, 1, 40deg);
      transform: rotate3d(0, 0, 1, 40deg); }

@media (max-width: 767px) {
  body {
    padding-top: 56px; }

  .rd-mobilemenu, .rd-mobilepanel {
    display: block; } }
@media (max-width: 359px) {
  .rd-mobilepanel_title {
    font-size: 18px; } }
/*==================  Stuck menu  ======================*/
.stuck_container {
  background: rgba(255, 255, 255, 0.71);
  padding-top: 60px;
  padding-bottom: 40px;
  -webkit-box-shadow: 2px 38px 85px -52px rgba(0,0,0,0.29);
  -moz-box-shadow: 2px 38px 85px -52px rgba(0,0,0,0.29);
  box-shadow: 2px 38px 85px -52px rgba(0,0,0,0.29);}
  @media (max-width: 767px) {
    .stuck_container {
      background: none;
      padding: 0; } }

.isStuck {
  padding-top: 25px;
  padding-bottom: 25px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.85);
  border-bottom: 2px solid #e6e6e6;}
  .isStuck .brand {
    display: none; }
  .isStuck .sf-menu > li > ul {
    margin-top: 25px; }

@media only screen and (max-width: 979px) {
  .isStuck {
    display: none !important; } }
/*==================     ToTop     ======================*/
.toTop {
  width: 50px;
  height: 50px;
  font-size: 24px;
  line-height: 46px;
  color: #fff;
  background: #8e44ad;
  border-radius: 50%;
  -webkit-box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.4);
  position: fixed;
  right: 25px;
  bottom: 40px;
  display: none;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  z-index: 20; }
  .toTop:hover {
    color: #fff;
    background: #696868;
    text-decoration: none; }

.mobile .toTop,
.tablet .toTop {
  display: none !important; }

/*==================   Thumbnail    ======================*/
.thumb {
  display: block;
  position: relative;
  overflow: hidden; }
  .thumb img {
    width: 100%;
    height: auto;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease; }
  .thumb_overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
    color: #fff;
    background: transparent; }
    .thumb_overlay:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      font: 400 30px "FontAwesome";
      line-height: 30px;
      margin-top: -15px;
      text-align: center; }
      .lt-ie9 .thumb_overlay:before {
        display: none; }
  .thumb:hover .thumb_overlay {
    opacity: 1;
    background: rgba(0, 0, 0, 0.5); }
    .lt-ie9 .thumb:hover .thumb_overlay {
      background: none;
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#80000000')";
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#80000000');
      zoom: 1; }
    .lt-ie9 .thumb:hover .thumb_overlay:before {
      display: block; }
  .thumb:hover img {
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }

/*========================================================
                     HEADER  Section
=========================================================*/
header {
  position: relative;
  padding-top: 60px;
  padding-bottom: 80px; }
  header .brand {
    background-image: url(https://placeholdit.imgix.net/~text?txtsize=33&txt=240%C3%97240&w=240&h=240);
    position: absolute;
    left: 0;
    top: -110px; }
    @media (max-width: 767px) {
      header .brand {
        top: -40px; } }
  header .nav {
    float: right; }
  @media (max-width: 767px) {
    header {
      text-align: center; }
      header .nav {
        float: none; }
      header .brand {
        position: relative;
        top: 0; } }
  header.header-bg {
    background: no-repeat url(../images/header_photo.jpg) center center;
    background-size: cover; }
  header.header-abs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99; }
    @media (max-width: 767px) {
      header.header-abs {
        padding: 80px 0 30px; } }

/*========================================================
                     CONTENT  Section
=========================================================*/
main {
  display: block; }

.tc {
  text-align: center; }

.mt1, .row.mt1 {
  margin-top: 45px; }

.text1 {
  font-weight: 300;
  font-size: 18px;
  line-height: 26px; }

.quote:before, .quote:after {
  display: table;
  content: "";
  line-height: 0; }
.quote:after {
  clear: both; }
.quote_aside {
  float: left;
  margin-right: 30px; }
  .quote_aside img {
    width: inherit !important;
    border-radius: 50%; }
  @media (max-width: 767px) {
    .quote_aside {
      float: none;
      margin: 0 0 20px; }
      .quote_aside img {
        margin: 0 auto; } }
.quote_cnt__no-flow {
  overflow: hidden;
  padding-top: 10px; }
.quote h4:before {
  content: '';
  display: block;
  width: 45px;
  height: 2px;
  background: #8e44ad;
  margin-bottom: 25px; }

.addr {
  padding: 40px 0 45px;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  vertical-align: baseline; }
  .addr .fa {
    font-size: 30px;
    line-height: 40px;
    margin-right: 5px;
    vertical-align: baseline; }
  .addr a {
    white-space: nowrap;
    vertical-align: baseline; }
  @media (max-width: 767px) {
    .addr {
      text-align: center; } }

.border {
  border: 2px solid #dfdfdf;
  padding: 45px; }
  @media (max-width: 479px) {
    .border {
      padding-left: 20px;
      padding-right: 20px; } }

.circle {
  width: 85px;
  height: 85px;
  background: #8e44ad;
  border-radius: 50%;
  text-align: center;
  line-height: 85px;
  color: #fff;
  font-size: 24px; }

.policy-link {
  text-transform: uppercase;
  font-size: 18px; }
  * + .policy-link {
    margin-top: 35px; }

.terms h4 + * {
  margin-top: 12px; }
.terms p + h4 {
  margin-top: px; }
.terms h3 + h4 {
  margin-top: 10px; }

/*==================      Well     ======================*/
.well1 {
  padding-top: 80px;
  padding-bottom: 80px; }

.well2 {
  padding-bottom: 70px; }

.well3 {
  padding-top: 80px;
  padding-bottom: 85px; }

.well4 {
  padding-bottom: 85px;
  padding-top: 85px; }

/*========================================================
                     FOOTER  Styles
=========================================================*/
footer .copy {
  margin-top: 10px; }

.footer-bottom {
  padding-top: 65px;
  padding-bottom: 60px; }

.layout-padding, .layout-padding-gt-sm,
.layout-padding-gt-sm>*, .layout-padding-md,
.layout-padding-md>*, .layout-padding>*,
.layout-padding>.flex, .layout-padding>.flex-gt-sm,
.layout-padding>.flex-md {
   padding: 23px;
}
.layout-row .flex {
 color: #8e44ad ;
 font-weight: 500;
 font-size: 1em;
}
.md-toolbar-tools {
  background-color: #8e44ad;
}
.calendar-md-title {
 color: white ;
}
.md-ink-ripple {
 font-size: 1.1em;
}
.layout-padding {

}

.copy{
 float: left;
}

.social-list{
 margin-top: 0px !important;
}

/*Admin panel*/

.md-button.md-default-theme.md-accent,
.md-button.md-accent {
  color: #00838F;
  font-weight: 900;
 }
.admin-panel-h1 {
  text-align: center;
  margin-top: 1%;
  color: #00838F;
}
md-nav-bar.md-default-theme
md-nav-ink-bar,
md-nav-bar md-nav-ink-bar {
  background: #00838F;
}
h3:after {
 display: none;
}
.add_new_page_button{
   margin-top: 50px;
   margin-bottom: 50px;
}
.admin-panel-slajder-h6 {
  color: #8e44ad;
  margin-left: 1%;
}
.sliders {
  margin-top: 2%;
}
.btn-apply {
  border-style: solid;
  border-width: 2px;
  border-color: #00838F;
  color: #00838F !important;
}
.btn-edit {
  border-style: solid;
  border-width: 2px;
  border-color: #00838F;
  color: #00838F !important;
}
.btn-delete {
  border-style: solid;
  border-width: 2px;
  border-color: #00838F;
  color: #00838F !important;
}
.apply-slajder {
  text-align: left;
  margin-top: 3%;
}
/*idjos*/
.md-avatar{
 border-radius:none;
}

.picture-blog-admin{
 width: 100px;
 height: auto;
 margin-right: 20px;
}

.md-list-item-inner{
 margin-bottom: 20px;
}

.md-list-item-text h3{
 font-weight: bold !important;
}

.picture-portfolio-admin{
 width: 100px;
 height: auto;
 margin-right: 20px;
}

.title-input{
 width: 100%;
}


/*========================================================
                     LOGIN  Styles
=========================================================*/
.row_login{
  text-align: center;
  position: fixed;
  height: 100%;
  width: 100%;
  margin-top: 8%;
}
.md-no-momentum{
  text-align: left;
  background: transparent;
  width: 287px;
  padding-top: 25px;
}
.md-block{
  width: 280px;
}
.container_login{
  width:340px;
  margin-top: 30px;
}
.background_login{
  background: rgba(245,242,245,1);
  width: 100%;
  height: 100%!important;
}
.padded{
  outline: none;
  height: 360px;
  color: white;
  background-color: white;
  border-radius: 3px;
}
.title_box p{
  font-size: 24px;
  font-family: 'Raleway';
  color: white;
  float: left;
  margin-left: 7%;
  margin-top: 7%;
}
.placehold-blog {
  width: 260px;
  height: auto;
}
.sub_title{
  color: #d0d0d0;
  margin-top: 15px;
}
.title_box{
  background-color: #8e44ad;
  width: 100%;
  height: 21%;
  margin-top: -42px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.placehold-blog {
  width: 260px;
  height: auto;
}
.md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused label, md-input-container:not(.md-input-invalid).md-input-focused label, md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused md-icon, md-input-container:not(.md-input-invalid) .md-input-focused md-icon {
    color:#8e44ad;
}
.md-input-container:not(.md-input-invalid).md-input-focused .md-input{border-color:#8e44ad;}


@media only screen and (max-width: 415px) {

  .edit-delete-btn{
    width:105px;
  }
  .blog-description-manepage{
    display: none;
  }
}

@media only screen and (max-width: 415px) {
  .layout-padding,
  .layout-padding-gt-sm,
  .layout-padding-gt-sm>*,
  .layout-padding-md,
  .layout-padding-md>*,
  .layout-padding>*,
  .layout-padding>.flex,
  .layout-padding>.flex-gt-sm,
  .layout-padding>.flex-md {
      padding: 0px !important;
  }
  .edit-delete-btn{
      width:105px;
  }
  .blog-description-manepage{
      display: none;
    }
  .calendar-admin-panel {
      width: 310px;
      height: 500px;
  }
  .md-button._md-nav-button {
    padding: 12px 0px;
  }
  ._md-nav-bar-list {
    margin-left: -20px;
  }
}
.md-button.md-default-theme.md-primary.md-raised,
.md-button.md-primary.md-raised,
.md-button.md-default-theme.md-primary.md-fab,
.md-button.md-primary.md-fab{background-color:#8e44ad;}
.md-button.md-default-theme.md-primary.md-raised:not([disabled]):hover,
.md-button.md-primary.md-raised:not([disabled]):hover,
.md-button.md-default-theme.md-primary.md-fab:not([disabled]):hover,
.md-button.md-primary.md-fab:not([disabled]):hover{background-color:#7ab9b7;}

/*========================================================
                     blog-single-view
=========================================================*/

.single-view img {
    width: 100%;
    height: 300px;
}
.single-view-title {
  margin-top: 25px;
}
.single-view {
  margin-top: 40px;
}
.single-view p {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}
.description p{
  margin-top: 15px;
  margin-bottom: 15px;
}
/*========================================================
                     blog-admin-panel
=========================================================*/
.md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused .md-input,
md-input-container:not(.md-input-invalid).md-input-focused .md-input,
md-input-container.md-default-theme:not(.md-input-invalid).md-input-resized .md-input,
md-input-container:not(.md-input-invalid).md-input-resized .md-input {
  border-color:#8e44ad !important;
}
.md-list-item-inner {
  margin-top: 20px;
}
.md-button .md-no-style {
  background-color:rgba(226, 226, 226, 0.2);
}
.text_position {
    font-weight: 500;
    color:#b1b3b3;
    font-size:16px;
    vertical-align: middle;
    line-height: 3.4;
  }
  .grid_blog {
    margin-top:3%;
    padding-left:5%;
    padding-right:5%;
  }
  .content_blog {
    margin-top:3%;
  }
  .text_margin_blog {
    margin-left:20px;
  }
  .grid_menu {
    margin-top:1.5%;
    padding-left:5%;
    padding-right:5%;
  }
  .md-button.md-default-theme.md-warn.md-raised,
  .md-button.md-warn.md-raised,
  .md-button.md-default-theme.md-warn.md-fab,
  .md-button.md-warn.md-fab {
    background-color:rgb(255,82,82) !important;
  }
  .md-button.md-default-theme.md-warn.md-raised:not([disabled]):hover,
  .md-button.md-warn.md-raised:not([disabled]):hover,
  .md-button.md-default-theme.md-warn.md-fab:not([disabled]):hover,
  .md-button.md-warn.md-fab:not([disabled]):hover {
    background-color: rgb(239, 79, 79) !important;
  }
  .md-button.md-default-theme.md-warn.md-raised,
  .md-button.md-warn.md-raised,
  .md-button.md-default-theme.md-warn.md-fab,
  .md-button.md-warn.md-fab {
    background-color: rgb(239, 79, 79) !important;
  }
  .md-button.md-default-theme.md-warn.md-raised,
  .md-button.md-warn.md-raised,
  .md-button.md-default-theme.md-warn.md-fab,
  .md-button.md-warn.md-fab {
    background-color: rgb(239, 79, 79) !important;
  }
  .md-list-item.md-3-line, md-list-item.md-3-line>.md-no-style{
    margin-top: 2%!important;
  }
  .md-button.md-default-theme.md-accent, .md-button.md-accent {
    color:#8e44ad !important;
  }
  .md-nav-bar.md-default-theme md-nav-ink-bar, md-nav-bar md-nav-ink-bar {
    background:#8e44ad !important;
  }
  .md-button.md-default-theme.md-primary.md-raised:not([disabled]):hover,
  .md-button.md-primary.md-raised:not([disabled]):hover,
  .md-button.md-default-theme.md-primary.md-fab:not([disabled]):hover,
  .md-button.md-primary.md-fab:not([disabled]):hover {
    background-color:#8e44ad !important;
  }
  ..md-button.md-default-theme.md-primary.md-raised:not([disabled]):hover,
   .md-button.md-primary.md-raised:not([disabled]):hover,
   .md-button.md-default-theme.md-primary.md-fab:not([disabled]):hover,
   .md-button.md-primary.md-fab:not([disabled]):hover {
      background-color:#8e44ad !important;
  }
  ..md-button.md-default-theme.md-primary.md-raised,
  .md-button.md-primary.md-raised,
  .md-button.md-default-theme.md-primary.md-fab,
  .md-button.md-primary.md-fab {
      background-color:#8e44ad!important;
  }
  .md-button.md-default-theme.md-primary.md-raised,
  .md-button.md-primary.md-raised,
  .md-button.md-default-theme.md-primary.md-fab,
  .md-button.md-primary.md-fab {
      background-color:#8e44ad!important;
  }
  .md-button.md-hue-1.md-primary {
    color:#8e44ad!important;
    font-weight: 600;
    border-color: #8e44ad!important;
    border-radius: 4px;
    border: solid 2px;
    font-family: 'Raleway';
    letter-spacing: 0.7px;
    font-size:13px;
    padding-left: 10px;
    padding-right: 10px;
  }

  /*========================================================
                       poups - admin
  =========================================================*/
  .title_newblog {
    color: #8e44ad;
    font-weight: 500;
  }
  .button_logout {
    float:right;
    margin-top:-43px;
  }
  .md-transition-in{
    width: 65%;
  }

  .title-input{
      margin-top: 40px;
      margin-bottom: 34px;
  }
  .upload-image-div{
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .delete-blog-btn{
    width:22% !important;
  }
  .close-btn{
    background: red;
  }
  .close-and-save-btn{
    margin-top: 20px;
  }
  .buttons_position {
    margin-right: 33px;
  }
  .buttons_position_p {
    margin-right: 19px;
  }
  .buttons_position_yes_no {
    text-align:center;
  }
  .container_custom {
    position: relative;
    text-align: center;
  }
  @media (max-width: 390px) {
    .buttons_position {
      margin-right: 0px;
      text-align:center; } }

  /*========================================================
                   hamburger menu - admin
  =========================================================*/
  @media (max-width: 630px) {
    .hamburger_menu_blog { display: block;}
    .media_menu {display:none!important;}}
  @media (min-width: 630px) {
    .hamburger_menu_blog {display:none;}
    .media_menu {display:block!important;}}

  .hamburger_icon {
    color:#8e44ad;
    font-size:22px;
    margin-top:-4px;
  }
  .close_icon {
    color:white;
    font-size:22px;
  }
  .title_hamburger {
    background-color:#8e44ad;
    color:white;
    font-weight: 600;
    font-family: 'Raleway';
    font-size:19px;
    margin-left: 30px;
    margin-top: 17px;
    height: 66px;
  }
  .list_style ul li a{
    display:block;
    text-decoration: none;
    color: #b1b3b3;
    font-size:16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 45px;
    margin-left: 30px;
  }
  /* start - hover - li */
  .list_style li a:hover {
    color: #8e44ad;
  }
  .list_style ul li:hover {
    border-bottom: 2px solid #8e44ad;
  }
  /* end - hover - li */
  .list_style ul li {
    border-bottom: 2px solid #efefef;
  }
  .list_style ul {
    cursor: pointer;
    position: fixed;
    list-style-type: none;
    width: 100%;
    height: 100%;
    margin-top: 4px;
  }
  .md-toolbar.md-default-theme:not(.md-menu-toolbar),
  md-toolbar:not(.md-menu-toolbar) {
    background-color:#8e44ad!important;
  }
  .icon_position {
    position: absolute;
    margin-left: 55%;
    margin-top:24px;
  }
  .shadows_side {
    -webkit-box-shadow: 17px -15px 51px 3px rgba(0,0,0,0.13)!important;
    -moz-box-shadow: 17px -15px 51px 3px rgba(0,0,0,0.13)!important;
    box-shadow: 17px -15px 51px 3px rgba(0,0,0,0.13)!important;
  }
  /*========================================================
               sticky navigation menu - index
  =========================================================*/


  /* PORTFOLIO */
  .portfolio-design {
    margin-top: 30px;
  }
  .layout-align-end-center, .layout-align-space-around-center, .layout-align-space-between-center, .layout-align-start-center{
    text-align: center;
  }
  .social-list {
      margin-right: 1px;
    }
.md-button:not([disabled]):hover.x_hover:hover{
  background-color: #8e44ad;
}
