<div ng-include="'partials/admin/admin-menu.html'" ng-controller="AdminMenuController"></div>
  <div class="grid_blog">
      <div layout="row" layout-align="start">
        <div>  <md-button class="md-raised md-primary" ng-click="addBlog($event)">add</md-button></div>
        <div class="text_margin_blog"><p class="text_position">Add new blog post</p></div>
      </div>
      <md-content class="content_blog">
          <md-list-item class="md-3-line" ng-repeat="blog in blogs | orderBy: 'created_at':true" ng-click="null" href="#/blog/{{blog.id}}">
            <img ng-src=" " class="picture-blog-admin" src="http://placehold.it/150x150" />
            <div class="md-list-item-text" layout="column">
              <h3>{{ blog.title }}</h3>
              <div class="blog-description-manepage" ng-bind-html="parseHtml(blog.body | limitTo: 100)">
                
              </div>
            </div>
            <md-divider ></md-divider>
            <div class="edit-delete-btn">
              <md-button md-no-ink class="md-raised md-primary" ng-click="editBlog($event, blog.id)">Edit</md-button>
              <md-button md-no-ink class="md-raised md-warn" ng-click="deleteBlog($event, blog.id)">Delete</md-button>
            </div>
          </md-list-item>
    </md-content>
  </div>
