<div ng-include="'partials/admin/admin-menu.html'" ng-controller="AdminMenuController"></div>
<div class="grid_blog">
  <md-content class="md-padding">
      <div class="ext-content">
      </div>

      <div class="container tc well1 calendar-admin-panel">
        <calendar-md flex layout layout-fill
          calendar-direction="direction"
          on-prev-month="prevMonth"
          on-next-month="nextMonth"
          on-day-click="dayClick"
          title-format="'MMMM y'"
          ng-model='selectedDate'
          week-starts-on="firstDayOfWeek"
          data-start-month="8"
          data-start-year="2016"
          tooltips="tooltips"
          day-format="dayFormat"
          day-label-format="'EEE'"
          day-label-tooltip-format="'EEEE'"
          day-tooltip-format="'fullDate'"
          day-content="setDayContent"
          disable-future-selection="false"
         ></calendar-md>
        </div>

        <p>{{ msg || "Click on a date/button to get started"}}</p>
        <pre>$scope.selectedDate = {{ selectedDate | json }}</pre>

    </md-content>
  </div>
