<div ng-include="'partials/admin/admin-menu.html'" ng-controller="AdminMenuController"></div>
<div class="grid_blog">
  <md-content class="md-padding">
      <div class="ext-content sliders">
        <div>
          <div>
            <h6 class="admin-panel-slajder-h6">Slider 1</h6>
            <lf-ng-md-file-input lf-files='files'> </lf-ng-md-file-input>
          </div>
          <div>
            <h6 class="admin-panel-slajder-h6">Slider 2</h6>
            <lf-ng-md-file-input lf-files='files'> </lf-ng-md-file-input>
          </div>
          <div>
            <h6 class="admin-panel-slajder-h6">Slider 3</h6>
            <lf-ng-md-file-input lf-files='files'> </lf-ng-md-file-input>
          </div>
          <div class="apply-slajder">
            <md-button md-no-ink class="md-raised md-primary">Apply</md-button>
          </div>
        </div>
      </div>
    </md-content>
</div>
