﻿<main>
    <section class="well3">
      <div class="container tc">
        <h3><span>who we are</span></h3>
        <div class="row">
          <div class="preffix_1 grid_10 tc">
            <img src="images/page-2_img01.jpg" alt="">
            <h4>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. </h4>
            <p>Cum sociis natoque penatibus et magnis. dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna.</p>
            <p> Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.</p>
            <a class="btn" href="#">more</a>
          </div>
        </div>  
      </div>
    </section>
    <section class="full">
      <div class="full_left bg3"></div>
      <div class="container">
        <div class="row">
          <div class="preffix_6 grid_6 bg-default">
            <div class="full-inner wow fadeInRight">
              <h3><span>why chose us?</span></h3>
              <div class="box3">
                <div class="box3_aside">
                  <span class="circle fa fa-bank"></span>
                </div>
                <div class="box3_cnt__no-flow">
                  <h5 class="mod">Aenean nec eros!</h5>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis.</p>
                </div>
              </div>
              <div class="box3">
                <div class="box3_aside">
                  <span class="circle fa fa-users"></span>
                </div>
                <div class="box3_cnt__no-flow">
                  <h5 class="mod">Donec eget tellus non erat!</h5>
                  <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis. dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. </p>
                </div>
              </div>
              <div class="box3">
                <div class="box3_aside">
                  <span class="circle fa fa-heart"></span>
                </div>
                <div class="box3_cnt__no-flow">
                  <h5 class="mod">Lacinia fermentum!</h5>
                  <p>Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis. dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. </p>
                </div>
              </div>
            </div>
          </div>    
        </div>
      </div>      
    </section>
    <section class="well1">
      <div class="container tc">
        <h3><span>our team</span></h3>
        <div class="row wow fadeInUp">
          <div class="grid_4">
            <div class="box4">
              <img src="images/page-2_img02.jpg" alt="">
              <div class="box4_cnt">
                <h4>Julia Berzkalna</h4>
                <h5>Consectetuer</h5>
              </div>
            </div>      
          </div>
          <div class="grid_4">
            <div class="box4">
              <img src="images/page-2_img03.jpg" alt="">
              <div class="box4_cnt">
                <h4>Alessandra Ambrosio</h4>
                <h5>Consectetuer</h5>
              </div>
            </div>  
          </div>
          <div class="grid_4">
            <div class="box4">
              <img src="images/page-2_img04.jpg" alt="">
              <div class="box4_cnt">
                <h4>Sandra Bullock</h4>
                <h5>Consectetuer</h5>
              </div>
            </div>                
          </div>
        </div>
        <div class="row wow fadeInUp">
          <div class="grid_4">
            <div class="box4">
              <img src="images/page-2_img05.jpg" alt="">
              <div class="box4_cnt">
                <h4>Mark Johnson</h4>
                <h5>Consectetuer</h5>
              </div>
            </div>      
          </div>
          <div class="grid_4">
            <div class="box4">
              <img src="images/page-2_img06.jpg" alt="">
              <div class="box4_cnt">
                <h4>Bradley Grosh</h4>
                <h5>Consectetuer</h5>
              </div>
            </div>  
          </div>
          <div class="grid_4">
            <div class="box4">
              <img src="images/page-2_img07.jpg" alt="">
              <div class="box4_cnt">
                <h4>Caroline Beek</h4>
                <h5>Consectetuer</h5>
              </div>
            </div>                
          </div>
        </div>
      </div>
    </section>
    <section class="well4">
      <div class="container tc border wow fadeInUp">
        <h3><span>mission & vision</span></h3>
        <div class="row">
          <div class="preffix_1 grid_10">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis. dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. </p>
          </div>
        </div>
      </div>
    </section>
  </main>