<div class="container"> 
	<div class="single-view-title">
		<h1>{{blog.title}}</h1>
	</div>
	<div class="single-view"> 
		<p>{{blog.created_at}}</p>
		<img src="images/photo-blog-single-view.jpg" ng-src=" "  />
	</div>
	<div class="description" ng-bind-html="parseHtml()">

	</div>
</div>
