﻿
  <main>
    <section class="well3">
      <div class="container">
        <h3 class="tc"><span>blog</span></h3>
        <div class="row">
          <div class="grid_6 wow fadeInLeft" style="margin-bottom: 50px;" ng-repeat="blog in blogs | orderBy:'created_at':true">
            <div class="box3">
              <div class="box3_aside placehold-blog">
                <img src="http://placehold.it/500x500" alt="">
              </div>
              <div class="box3_cnt__no-flow">
                <h4><a>{{blog.title}}</a></h4>
                <h5><time datetime="2015-08-10">{{blog.created_at}}</time></h5>
                <div ng-bind-html="parseHtml(blog.body | limitTo: 100)">
                </div>
                <a class="btn" href="#/blog/{{blog.id}}">more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>