﻿

  <main>
    <section class="well3">
      <div class="container">
        <h3 class="tc"><span>contact form</span></h3>
        <form class='mailform' method="post" action="bat/rd-mailform.php"> 
          <input type="hidden" name="form-type" value="contact"/> 
          <fieldset>
            <div class="row">
              <div class="grid_6">
                <label> 
                  <input style ="color:#9761af" type="text" 
                  name="name" 
                  placeholder="Name" 
                  data-constraints="@LettersOnly @NotEmpty"/> 
              </label> 
              </div>
              <div class="grid_6">
                <label> 
                  <input style ="color:#9761af" type="text" 
                  name="email" 
                  placeholder="Email" 
                  data-constraints="@Email @NotEmpty"/> 
              </label>
              </div>
            </div>
              <label> 
                  <input style ="color:#9761af" type="text" 
                  name="phone" 
                  placeholder="Phone" 
                  data-constraints="@Phone"/> 
              </label> 
          
              <label> 
                  <textarea ng-model="contactMessage" style ="color:#9761af" name="message" placeholder="Message" 
                  data-constraints="@NotEmpty"></textarea> 
              </label> 

              <div class="mfControls"> 
                  <button class="btn" type="submit">send message</button> 
              </div> 
          </fieldset> 
      </form> 
        
      </div>
    </section>
  </main>
