<div class="page">
  <!--========================================================
                            CONTENT
  =========================================================-->
  <main>
    <div class="camera_container">
      <div id="camera" class="camera_wrap">
        <div data-src="images/page-1_slide01.jpg"></div>
        <div data-src="images/page-1_slide02.jpg"></div>
        <div data-src="images/page-1_slide03.jpg"></div>
      </div>
    </div>
    <section class="bg-default bg-h">
      <div class="container">
        <div class="row">
          <div class="grid_4">
            <h4 class="mod"><span class="fa fa-university"></span>The largest selection <span class="lg">of wedding venues</span></h4>
          </div>
          <div class="grid_8">
            <ul class="list1">
              <li data-equal-group="5">
                <span>145</span>venues
              </li>
              <li data-equal-group="5">
                <span>420</span>happy clients
              </li>
              <li data-equal-group="5">
                <span>56</span>wedding ideas
              </li>
              <li data-equal-group="5">
                <span>24</span>best Packages
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="well1">
      <div class="container tc">
        <h2>Welcome!</h2>
        <div class="row">
          <div class="preffix_1 grid_10 tc">
            <img src="images/page-2_img01.jpg" alt="">
            <h4>What is Lorem Ipsum? </h4>

            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <a class="btn" href="#/contact">contact us</a>
          </div>
        </div>
      </div>
    </section>

    <section class="full">
      <div class="full_left bg4"></div>
      <div class="container">
        <div class="row">
          <div class="preffix_6 grid_6 bg-default">
            <div class="full-inner wow fadeInRight">
              <h3 class="mod">Calendar of wedding</h3>
              <h5><span>Book now your wedding day!</span></h5>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
              <a class="btn2" href="#/calendar">booking</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="well4">
      <div class="container tc border wow fadeInUp">
        <h3><span>mission & vision</span></h3>
        <div class="row">
          <div class="preffix_1 grid_10">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis. dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. </p>
          </div>
        </div>
      </div>
    </section>

  </main>
