<div class="row row_login" ng-keypress="pressEnter($event)">
      <div class="container container_login">
        <div class="padded" md-whiteframe="{{ctrl.showFrame}}" flex="100" flex-gt-sm="100" layout="column" layout-align="center center" ng-click="ctrl.toggleFrame()">
          <div class="title_box">
            <p>Login</p>
          </div>

          <md-content class="md-no-momentum">
            <md-input-container class="md-block">
              <input  ng-model="email" required  type="text" placeholder="Email Address" ng-required="true">
            </md-input-container>
            <md-input-container  class="md-block">
              <input ng-model="password" required type="password" placeholder="Password">
            </md-input-container>
          </md-content>
          <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
          <md-button class="md-raised md-primary" ng-click="login()">Login</md-button>
        </section>
        </div>
      </div>
</div>
