﻿
  <main>
    <section class="well3">
      <div class="container">
        <h3 class="tc"><span>recent news</span></h3>
        <div class="row">
          <div class="grid_6 wow fadeInLeft ">
            <div class="box3">
              <div class="box3_aside">
                <img src="images/page-4_img01.jpg" alt="">
              </div>
              <div class="box3_cnt__no-flow">
                <h4><a href="#">Vestibulum iaculis</a></h4>
                <h5><time datetime="2015-08-10">10 / 08 / 2015</time></h5>
                <p>Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros.</p>
                <a class="btn" href="#">more</a>
              </div>
            </div>
          </div>
          <div class="grid_6 wow fadeInRight">
            <div class="box3">
              <div class="box3_aside">
                <img src="images/page-4_img02.jpg" alt="">
              </div>
              <div class="box3_cnt__no-flow">
                <h4><a href="#">Vestibulum iaculis</a></h4>
                <h5><time datetime="2015-08-10">10 / 08 / 2015</time></h5>
                <p>Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros.</p>
                <a class="btn" href="#">more</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="grid_6 wow fadeInLeft ">
            <div class="box3">
              <div class="box3_aside">
                <img src="images/page-4_img03.jpg" alt="">
              </div>
              <div class="box3_cnt__no-flow">
                <h4><a href="#">Vestibulum iaculis</a></h4>
                <h5><time datetime="2015-08-10">10 / 08 / 2015</time></h5>
                <p>Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros.</p>
                <a class="btn" href="#">more</a>
              </div>
            </div>
          </div>
          <div class="grid_6 wow fadeInRight">
            <div class="box3">
              <div class="box3_aside">
                <img src="images/page-4_img04.jpg" alt="">
              </div>
              <div class="box3_cnt__no-flow">
                <h4><a href="#">Vestibulum iaculis</a></h4>
                <h5><time datetime="2015-08-10">10 / 08 / 2015</time></h5>
                <p>Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros.</p>
                <a class="btn" href="#">more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="full">
      <div class="full_left bg5"></div>
      <div class="full_right bg6"></div>
      <div class="container">
        <div class="row">
          <div class="grid_6 bg-primary mt2 wow fadeInLeft ">
            <div class="full-inner">
              <h3><span>Wedding venue trends</span></h3>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis.</p>
              <a class="btn2" href="#">more</a>
            </div>            
          </div>
          <div class="grid_6 bg-default wow fadeInRight">
            <div class="full-inner">
              <h3><span>How to Save Money on Your <br>Wedding Venue</span></h3>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
              <a class="btn2" href="#">more</a>
            </div>
          </div>    
        </div>
      </div>      
    </section>
    <section class="well1">
      <div class="container tc">
        <div class="row">
          <div class="grid_4 wow fadeInLeft ">
            <div class="box2 box2_bg1">
              <div class="box2_cnt" data-equal-group="4">
                <h4 class="mod2"><span><a href="#">Aliquam sed dapibus tincidunt metus</a></span></h4>
                <p>Cum sociis natoque penatibus et magnis. dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. </p>
                <a class="btn" href="#">more</a>
              </div>
            </div>      
          </div>
          <div class="grid_4 wow fadeInLeft" data-wow-delay=".2s">
            <div class="box2 box2_bg2">
              <div class="box2_cnt" data-equal-group="4">
                <h4 class="mod2"><span><a href="#">Praesent justo dolor lobortis quis</a></span></h4>
                <p>Cum sociis natoque penatibus et magnis. dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. </p>
                <a class="btn" href="#">more</a>
              </div>
            </div>      
          </div>
          <div class="grid_4 wow fadeInLeft" data-wow-delay=".4s">
            <div class="box2 box2_bg3">
              <div class="box2_cnt" data-equal-group="4">
                <h4 class="mod2"><span><a href="#">In pede aliquet sit amet euismod in auctor</a></span></h4>
                <p>Cum sociis natoque penatibus et magnis. dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. </p>
                <a class="btn" href="#">more</a>
              </div>
            </div>      
          </div>
        </div>
      </div>
    </section>
  </main>