﻿

  <!--========================================================
                            CONTENT
  =========================================================-->
  <main>
    <section class="well3">
      <div class="container tc">
        <h3><span>Venue of the Month</span></h3>
        <div class="row wow fadeInUp">
          <div class="grid_4 portfolio-design" ng-repeat="portfolio in portfolios">
            <div class="box" data-equal-group="1">
              <a data-fancybox-group="1" class="thumb" href="images/placehold.png">
                <img ng-src="{{portfolio.image_url}}" alt="">
                <span class="thumb_overlay"></span>
              </a>
             <h4><a href="#/portfolio/{{portfolio.id}}">{{portfolio.title}}</a></h4>
             <div ng-bind-html="parseHtml(portfolio.description | limitTo: 100)">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="full">
      <div class="full_left bg4"></div>
      <div class="container">
        <div class="row">
          <div class="preffix_6 grid_6 bg-default">
            <div class="full-inner wow fadeInRight">
              <h3 class="mod">Calendar of wedding</h3>
              <h5><span>Book now your wedding day!</span></h5>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries. </p>
              <a class="btn2" href="#/calendar">booking</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="well3">
      <div class="container">
        <div class="row">
          <div class="grid_8 wow fadeInLeft ">
            <div class="box2 box2_bg4">
              <div class="box2_cnt2">
                <h3> <span>100 gorgeous wedding venues</span> </h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br> It has survived not only five centuries.<br> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book, It has survived not only five centuries.  </p>
                <a class="btn" href="#">view gallery</a>
              </div>
            </div>
          </div>
          <div class="grid_4 wow fadeInRight">
            <h3><span>Wedding Tips</span></h3>
            <ul class="marked-list2">
               <li>
                 <h6><a href="#">Phasellus porta. </a></h6>
                 <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</p>
               </li>
               <li>
                 <h6><a href="#">Fusce suscipit varius mi. </a></h6>
                 <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when. </p>
               </li>
               <li>
                 <h6><a href="#">Morbi nunc odio, gravida.</a></h6>
                 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took.</p>
               </li>
               <li>
                 <h6><a href="#">Vestibulum sed ante. </a></h6>
                 <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when. </p>
               </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </main>
