﻿

  <!--========================================================
                            CONTENT
  =========================================================-->
  <main>
    <section class="well3">
      <div class="container tc">
        <h3><span>Venue of the Month</span></h3>
        <div class="row wow fadeInUp">
          <div class="grid_4">
            <div class="box" data-equal-group="1">
              <a data-fancybox-group="1" class="thumb" href="images/page-3_img01_original.jpg">
                <img src="images/page-3_img01.jpg" alt="">
                <span class="thumb_overlay"></span>
              </a>
             <h4>Donec porta</h4>
             <p>Cum sociis natoque penatibus et magnis. dis partur ient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. </p>     
            </div>
          </div>
          <div class="grid_4">
            <div class="box" data-equal-group="1">
              <a data-fancybox-group="1" class="thumb" href="images/page-3_img02_original.jpg">
                <img src="images/page-3_img02.jpg" alt="">
                <span class="thumb_overlay"></span>
              </a>
             <h4>Vestibulum iaculis</h4>
             <p>Cum sociis natoque penatibus et magnis. dis partur ient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. </p>     
            </div>
          </div>
          <div class="grid_4">
            <div class="box" data-equal-group="1">
              <a data-fancybox-group="1" class="thumb" href="images/page-3_img03_original.jpg">
                <img src="images/page-3_img03.jpg" alt="">
                <span class="thumb_overlay"></span>
              </a>
             <h4>Proin dictum </h4>
             <p>Cum sociis natoque penatibus et magnis. dis partur ient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. </p>     
            </div>
          </div>
        </div>
        <div class="row wow fadeInUp">
          <div class="grid_4">
            <div class="box" data-equal-group="1">
              <a data-fancybox-group="1" class="thumb" href="images/page-3_img04_original.jpg">
                <img src="images/page-3_img04.jpg" alt="">
                <span class="thumb_overlay"></span>
              </a>
             <h4>Lorem ipsum dolor</h4>
             <p>Cum sociis natoque penatibus et magnis. dis partur ient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. </p>     
            </div>
          </div>
          <div class="grid_4">
            <div class="box" data-equal-group="1">
              <a data-fancybox-group="1" class="thumb" href="images/page-3_img05_original.jpg">
                <img src="images/page-3_img05.jpg" alt="">
                <span class="thumb_overlay"></span>
              </a>
             <h4>Aliquet</h4>
             <p>Cum sociis natoque penatibus et magnis. dis partur ient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. </p>     
            </div>
          </div>
          <div class="grid_4">
            <div class="box" data-equal-group="1">
              <a data-fancybox-group="1" class="thumb" href="images/page-3_img06_original.jpg">
                <img src="images/page-3_img06.jpg" alt="">
                <span class="thumb_overlay"></span>
              </a>
             <h4>Fermentum nisl</h4>
             <p>Cum sociis natoque penatibus et magnis. dis partur ient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. </p>     
            </div>
          </div>
        </div>
        <div class="row wow fadeInUp">
          <div class="grid_4">
            <div class="box" data-equal-group="1">
              <a data-fancybox-group="1" class="thumb" href="images/page-3_img07_original.jpg">
                <img src="images/page-3_img07.jpg" alt="">
                <span class="thumb_overlay"></span>
              </a>
             <h4>Aliquet sit amet</h4>
             <p>Cum sociis natoque penatibus et magnis. dis partur ient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. </p>     
            </div>
          </div>
          <div class="grid_4">
            <div class="box" data-equal-group="1">
              <a data-fancybox-group="1" class="thumb" href="images/page-3_img08_original.jpg">
                <img src="images/page-3_img08.jpg" alt="">
                <span class="thumb_overlay"></span>
              </a>
             <h4>Nulla vel diam</h4>
             <p>Cum sociis natoque penatibus et magnis. dis partur ient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. </p>     
            </div>
          </div>
          <div class="grid_4">
            <div class="box" data-equal-group="1">
              <a data-fancybox-group="1" class="thumb" href="images/page-3_img09_original.jpg">
                <img src="images/page-3_img09.jpg" alt="">
                <span class="thumb_overlay"></span>
              </a>
             <h4>Adipiscing</h4>
             <p>Cum sociis natoque penatibus et magnis. dis partur ient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. </p>     
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="full">
      <div class="full_left bg4"></div>
      <div class="container">
        <div class="row">
          <div class="preffix_6 grid_6 bg-default">
            <div class="full-inner wow fadeInRight">
              <h3 class="mod">need help?</h3>
              <h5><span>Sed in lacus ut enim adipiscing aliquet!</span></h5>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. </p>
              <a class="btn2" href="#">more</a>
            </div>
          </div>    
        </div>
      </div>      
    </section>
    <section class="well3">
      <div class="container">
        <div class="row">
          <div class="grid_8 wow fadeInLeft ">
            <div class="box2 box2_bg4">
              <div class="box2_cnt2">
                <h3> <span>100 gorgeous wedding venues</span> </h3>
                <p>Cum sociis natoque penatibus et magnis. dis parturient montes, nascetur ridiculus mus. <br> Nulla dui. Fusce feugiat malesuada odio.<br> Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet,  </p>
                <a class="btn" href="#">view gallery</a>
              </div>
            </div>      
          </div>
          <div class="grid_4 wow fadeInRight">
            <h3><span>Wedding Tips</span></h3>
            <ul class="marked-list2">
               <li>
                 <h6><a href="#">Phasellus porta. </a></h6>
                 <p>Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis. dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat  odio.</p>
               </li>
               <li>
                 <h6><a href="#">Fusce suscipit varius mi. </a></h6>
                 <p>Cum sociis natoque penatibus et magnis. dis parturient montes, nascetur ridiculus mus. </p>
               </li>
               <li>
                 <h6><a href="#">Morbi nunc odio, gravida.</a></h6>
                 <p>Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
               </li>
               <li>
                 <h6><a href="#">Vestibulum sed ante. </a></h6>
                 <p>Cum sociis natoque penatibus et magnis. dis parturient montes, nascetur ridiculus mus. </p>
               </li>
            </ul>   
          </div>
        </div>
      </div>
    </section>
  </main>

